html,
body {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  background-color: aqua;
}
main {
  height: 100%;
  flex-grow: 1;
  padding-bottom: 100px;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#root {
  position: relative;
  min-height: 100%;
  width: 100%;
}

#banner {
  background-image: url("banners/pexels-5255523.jpg");
  min-height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
